<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 pt-16 pb-8">
    <div class="text-center max-w-4xl mx-auto">
      <div class="max-w-sm mx-auto bg-orange-500/85 backdrop-blur-sm text-white text-sm sm:text-md font-bold px-4 sm:px-6 py-2 sm:py-3 rounded-full transform text-center mb-8 sm:mb-12 shadow-[0_0_15px_rgba(249,115,22,0.5)]">
        <span class="font-bold">Launch + Black Friday Sale 🎉</span> <br>
        <span class="font-normal">Use code TABTABLAUNCH for 30% OFF</span>
      </div>
      <object 
        type="image/svg+xml" 
        data="/tabtab.svg"
        class="w-24 sm:w-32 mx-auto"
        aria-label="TabTab Icon"
      >TabTab App Icon</object>

      <p
        class="text-4xl tracking-tight font-semibold text-black md:text-5xl font-display mt-8">
        TabTab: Supercharged Windows & Tabs Manager for the Mac
      </p>
      <p class="text-gray-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
        TabTab helps you stay productive by making it easy to manage windows and tabs across all your Mac apps. 
        It’s fast, intuitive, and runs entirely on your device. 
        Scroll down to see how it can replace ⌘Command+Tab.      
      </p>
    </div>
    <div class="flex flex-col items-center mt-10">
      <div class="flex justify-center gap-3">
        <a
          class="items-center justify-center h-12 font-medium rounded-full focus-visible:outline-black focus:outline-none inline-flex bg-black border-2 border-black duration-200 focus-visible:ring-black hover:bg-transparent hover:border-black hover:text-black px-4 sm:px-8 py-3 text-center text-white w-auto sm:w-48"
          href="https://github.com/riccqi/TabTabApp/releases/download/prod/tabtab.dmg"
          target="_blank"
          rel="noopener noreferrer"
        >
          Download &nbsp;
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path d="M10 3a1 1 0 011 1v10.586l3.293-3.293a1 1 0 111.414 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 111.414-1.414L9 14.586V4a1 1 0 011-1z" />
          </svg>
        </a>
        <a
          class="items-center justify-center h-12 font-medium rounded-full focus-visible:outline-black focus:outline-none inline-flex bg-indigo-600 border-2 border-indigo-600 text-white duration-200 focus-visible:ring-black hover:bg-white hover:border-indigo-600 hover:text-indigo-600 px-4 sm:px-8 py-3 text-center w-auto sm:w-48"
          href="https://tabtab.lemonsqueezy.com/buy/a08126ed-b25e-48f5-96dc-1e4290b6803c"
          target="_blank"
          rel="noopener noreferrer"
          >Purchase Pro
        </a>
      </div>
      <p class="text-sm text-gray-500 mt-4 text-center italic">Supports Intel & Apple Silicon Macs. macOS 14.0+</p>
      
      <a 
        href="https://www.producthunt.com/posts/tabtab-2?embed=true&utm_source=badge-featured&utm_medium=badge&utm_souce=badge-tabtab&#0045;2" 
        target="_blank"
        class="mt-6"
      >
        <img 
          src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=645000&theme=light" 
          alt="TabTab - Supercharged windows & tabs manager for Mac | Product Hunt"
          width="250" 
          height="54"
        />
      </a>
    </div>

    <div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
      <div class="rounded-xl overflow-hidden">
        <video
          class="w-full lg:rounded-2xl object-cover rounded shadow-2xl scale-101"
          autoplay
          loop
          muted
          playsinline
        >
          <source src="/tabtab-proj.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</section>
