<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-8 items-center px-8 pt-8 pb-8">
    <div class="text-center max-w-4xl mx-auto">
      <!-- <div class="max-w-sm mx-auto bg-orange-500/85 backdrop-blur-sm text-white text-sm sm:text-md font-bold px-4 sm:px-6 py-1 sm:py-2 rounded-full transform text-center mb-6 sm:mb-8 shadow-[0_0_15px_rgba(249,115,22,0.5)]">
        <span class="font-bold">Launch + Black Friday Sale 🎉</span> <br>
        <span class="font-normal">Use code TABTABLAUNCH for 30% OFF</span>
      </div> -->

      <object 
        type="image/svg+xml" 
        data="/tabtab.svg"
        class="w-24 sm:w-32 mx-auto"
        aria-label="TabTab Icon"
      >TabTab App Icon</object>

      <div class="flex flex-wrap justify-center items-center gap-4 mt-6">
        <a 
          href="https://www.producthunt.com/posts/tabtab-2?embed=true&utm_source=badge-featured&utm_medium=badge&utm_souce=badge-tabtab&#0045;2" 
          target="_blank"
        >
          <img
            src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=645000&theme=light"
            alt="TabTab - Supercharged windows & tabs manager for Mac | Product Hunt"
            class="w-44 sm:w-56 h-auto"
          />
        </a>
        <a 
          href="https://www.producthunt.com/posts/tabtab-2?embed=true&utm_source=badge-top-post-topic-badge&utm_medium=badge&utm_souce=badge-tabtab&#0045;2" 
          target="_blank"
        >
          <img
            src="https://api.producthunt.com/widgets/embed-image/v1/top-post-topic-badge.svg?post_id=645000&theme=light&period=monthly&topic_id=93"
            alt="TabTab - Supercharged windows & tabs manager for Mac | Product Hunt"
            class="w-44 sm:w-56 h-auto"
          />
        </a>
      </div>

      <h1
        class="text-4xl tracking-tight font-bold md:text-5xl font-display mt-6">
        <span class="bg-gradient-to-b from-accent-300 to-accent-600 bg-clip-text text-transparent">
          Instantly find any window or tab.
        </span> <br>
        The beautiful, compact switcher for Mac.
      </h1>
      <p class="text-gray-500 lg:text-xl md:text-lg max-w-2xl mt-4 mx-auto text-base">
        TabTab is the fastest way to switch between windows and tabs on Mac. 
      </p>
    </div>
    <div class="flex flex-col items-center mt-8">
      <div class="flex flex-wrap justify-center gap-3">
        <a
          class="items-center justify-center h-12 font-bold text-sm md:text-xl rounded-full focus-visible:outline-black focus:outline-none inline-flex bg-black border-2 border-black duration-200 focus-visible:ring-black hover:bg-transparent hover:border-black hover:text-black px-4 md:px-8 md:py-7 text-center text-white w-auto sm:w-50"
          href="https://github.com/riccqi/TabTabApp/releases/download/prod/tabtab.dmg"
          target="_blank"
          rel="noopener noreferrer"
        >
          Download for Free
          <!-- <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 -mt-0.5 -mr-2" viewBox="0 0 20 20" fill="currentColor">
            <path d="M10 3a1 1 0 011 1v10.586l3.293-3.293a1 1 0 111.414 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 111.414-1.414L9 14.586V4a1 1 0 011-1z" />
          </svg> -->
        </a>
        <a
          class="items-center justify-center h-12 font-bold text-sm md:text-xl rounded-full focus-visible:outline-black focus:outline-none inline-flex bg-accent-600 border-2 border-accent-600 text-white duration-200 focus-visible:ring-black hover:bg-white hover:border-accent-600 hover:text-accent-600 px-4 md:px-8 md:py-7 text-center w-auto sm:w-50"
          href="https://tabtab.lemonsqueezy.com/buy/a08126ed-b25e-48f5-96dc-1e4290b6803c"
          target="_blank"
          rel="noopener noreferrer"
          >
          <svg 
            xmlns="http://www.w3.org/2000/svg" 
            viewBox="0 0 110.925 110.974"
            class="w-6 h-6 mr-4"
            aria-label="Seal Icon"
            fill="currentColor"
          >
            <path d="M25.8728 97.7966L36.4685 97.7966C37.4451 97.7966 38.1775 98.0896 38.9099 98.822L46.4295 106.293C52.5818 112.494 58.2947 112.445 64.447 106.293L71.9666 98.822C72.7478 98.0896 73.4314 97.7966 74.4568 97.7966L85.0037 97.7966C93.7439 97.7966 97.7966 93.7927 97.7966 85.0037L97.7966 74.4568C97.7966 73.4314 98.0896 72.7478 98.822 71.9666L106.293 64.447C112.494 58.2947 112.445 52.5818 106.293 46.4295L98.822 38.9099C98.0896 38.1775 97.7966 37.4451 97.7966 36.4685L97.7966 25.8728C97.7966 17.1814 93.7927 13.0799 85.0037 13.0799L74.4568 13.0799C73.4314 13.0799 72.7478 12.8357 71.9666 12.1033L64.447 4.63259C58.2947-1.56859 52.5818-1.51976 46.4295 4.63259L38.9099 12.1033C38.1775 12.8357 37.4451 13.0799 36.4685 13.0799L25.8728 13.0799C17.1326 13.0799 13.0799 17.0838 13.0799 25.8728L13.0799 36.4685C13.0799 37.4451 12.8357 38.1775 12.1033 38.9099L4.63259 46.4295C-1.56859 52.5818-1.51976 58.2947 4.63259 64.447L12.1033 71.9666C12.8357 72.7478 13.0799 73.4314 13.0799 74.4568L13.0799 85.0037C13.0799 93.7439 17.1326 97.7966 25.8728 97.7966Z"/>
          </svg>
          Purchase Pro
        </a>
      </div>
      <p class="text-sm text-gray-500 mt-4 text-center">Supports Intel & Apple Silicon Macs. macOS 14.0+</p>
      

    </div>

    <div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
      <div class="rounded-xl overflow-hidden">
        <video
          class="w-full lg:rounded-2xl object-cover rounded shadow-2xl scale-101"
          autoplay
          loop
          muted
          playsinline
        >
          <source src="/tabtab-proj.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</section>
