<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div class="text-center max-w-4xl mx-auto">
      <object 
        type="image/svg+xml" 
        data="/tabtab.svg"
        class="w-24 sm:w-32 mx-auto"
        aria-label="TabTab Icon"
      >TabTab Icon</object>

      <p
        class="text-4xl tracking-tight font-semibold text-black md:text-5xl font-display mt-8">
        TabTab: Supercharged Window + Tab Manager for the Mac
      </p>
      <p class="text-gray-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
        Manage your windows and tabs across your Mac. TabTab is fast, intuitive, and runs entirely on your device. Scroll down to learn more.      
      </p>
    </div>
    <div class="flex flex-col items-center mt-10">
      <div class="flex justify-center gap-3">
        <!-- <a
          class="items-center justify-center border-gray-200 h-12 font-medium rounded-full focus-visible:outline-black focus:outline-none inline-flex duration-200 text-black lg:w-auto px-8 py-3 text-center text-black/80 w-full border"
          href="https://github.com/riccqi/TabTabApp/releases/download/prod/tabtab1.0.4.dmg">Download for Mac</a
        > -->
        <a
          class="items-center justify-center h-12 font-medium rounded-full focus-visible:outline-black focus:outline-none inline-flex bg-black border-2 border-black duration-200 focus-visible:ring-black hover:bg-transparent hover:border-black hover:text-black px-8 py-3 text-center text-white w-48 mx-auto sm:mx-0"
          href="https://forms.gle/VDyadDwTbyLxXB1K8"
          target="_blank"
          rel="noopener noreferrer"
          >Join waitlist &nbsp; &rarr;
        </a>
      </div>
      <p class="text-sm text-gray-500 mt-4">Supports macOS 14.0+</p>
    </div>

    <div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
      <div class="rounded-xl overflow-hidden">
        <video
          class="w-full lg:rounded-2xl object-cover rounded shadow-2xl scale-101"
          autoplay
          loop
          muted
          playsinline
        >
          <source src="https://www.dropbox.com/scl/fi/04z3kho56id4tk6b0dbby/tabtab-landing.mp4?rlkey=bwxou0rjmtzmf73wxi0i4ax6u&st=68zx8z0m&dl=0" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</section>
