<section id="features">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-12 scroll-mt-12"
  >
    <div class="mx-auto max-w-xl text-center">
      <div>
        <!-- Section icon -->
    <div class="flex justify-center mb-6">
      <div class="bg-amber-400 rounded-2xl md:rounded-3xl p-5">
        <img src="/symbols/star.fill.svg" alt="Star icon" class="w-8 h-8 md:w-12 md:h-12 filter brightness-0 invert">
      </div>
    </div>
        <p
          class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display"
        >
          Key features
        </p><p
          class="mt-4 text-lg text-na mx-auto tracking-tight text-gray-500"
        >
          Windows and tabs switching, powerful search, all in a beautiful package.
        </p>
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-7xl pt-12">
        <h2 class="sr-only">Features.</h2><div>
          <div
            class="grid gap-12 grid-cols-1 lg:space-y-0 lg:text-center md:grid-cols-3"
          >
            <div class="text-center">
              <div class="flex flex-col items-center">
                <div
                  class="items-center justify-center text-accent-500 bg-gray-900 rounded-xl flex h-16 w-16"
                >
                  <img src="/symbols/macwindow.on.rectangle.svg" alt="Windows switching" class="w-8 h-8 filter brightness-0 invert">
                </div>
                <p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Windows switching
                </p>
              </div>
              <div class="mt-4 text-gray-500 text-sm">
                Switch between all the windows across your Mac. Fullscreen windows and multiple spaces supported.
              </div>
            </div>
            <div class="text-center">
              <div class="flex flex-col items-center">
                <div
                  class="items-center justify-center text-accent-500 bg-gray-900 rounded-xl flex h-16 w-16"
                >
                  <img src="/symbols/rectangle.grid.1x2.fill.svg" alt="Tabs switching" class="w-8 h-8">
                </div>
                <p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Tabs switching
                </p>
              </div>
              <div class="mt-4 text-gray-500 text-sm">
                Easily find and switch back to tabs of supported apps like Google Chrome, Safari, Visual Studio Code, Finder, and more. Tabs are tracked automatically and organised by recency.
              </div>
            </div>
            <div class="text-center">
              <div class="flex flex-col items-center">
                <div
                  class="items-center justify-center text-accent-500 bg-gray-900 rounded-xl flex h-16 w-16"
                >
                  <img src="/symbols/magnifyingglass.svg" alt="Search" class="w-8 h-8">
                </div>
                <p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Search
                </p>
              </div>
              <div class="mt-4 text-gray-500 text-sm">
                Search across all your windows and tabs, with support for searching by app name, window title, tab title and even URLs.
              </div>
            </div>
            <div class="text-center">
              <div class="flex flex-col items-center">
                <div
                  class="items-center justify-center text-accent-500 bg-gray-900 rounded-xl flex h-16 w-16"
                >
                  <img src="/symbols/apple.logo.svg" alt="Native design" class="w-8 h-8">
                </div>
                <p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Native design
                </p>
              </div>
              <div class="mt-4 text-gray-500 text-sm">
                Seamlessly integrates with macOS, providing a native look and feel while maintaining a compact footprint.
              </div>
            </div>
            <div class="text-center">
              <div class="flex flex-col items-center">
                <div
                  class="items-center justify-center text-accent-500 bg-gray-900 rounded-xl flex h-16 w-16"
                >
                  <img src="/symbols/keyboard.fill.svg" alt="Hotkey optimised" class="w-8 h-8">
                </div>
                <p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Keyboard friendly
                </p>
              </div>
              <div class="mt-4 text-gray-500 text-sm">
                Designed with mouse-free navigation in mind -- featuring customizable hotkeys, with the ability to replace the native Command+Tab app switcher.
              </div>
            </div>
            <div class="text-center">
              <div class="flex flex-col items-center">
                <div
                  class="items-center justify-center text-accent-500 bg-gray-900 rounded-xl flex h-16 w-16"
                >
                  <img src="/symbols/hare.fill.svg" alt="Fast" class="w-8 h-8">
                </div>
                <p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Fast
                </p>
              </div>
              <div class="mt-4 text-gray-500 text-sm">
               Lightweight with low memory usage (sub 100MB), ensuring smooth operation even with hundreds of windows and tabs.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>