@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-display: "Bricolage Grotesque", sans-serif;
  --color-black: #121212;
  --color-blue-50: #EBEDFF;
  --color-accent-50: #E0F6FF;
  --color-accent-100: #CCEDFF;
  --color-accent-200: #99DBFF;
  --color-accent-300: #66C8FF;
  --color-accent-400: #33B5FF;
  --color-accent-500: #00A2FF;
  --color-accent-600: #008AE6;
  --color-accent-700: #006BB3;
  --color-accent-800: #004D80;
  --color-accent-900: #002E4D;

}
/* CSS */
:root {
  font-family: Inter, sans-serif;
}
@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
  }
}