<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div>
      <div class="relative mx-auto max-w-[40rem] pt-20 pb-24">
        <h1
          class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
          Terms and Conditions
        </h1>
        <p class="mt-4 text-base leading-7 text-gray-500">
          Last updated on October 12, 2024
        </p>
      </div>
    </div>
    <div>
      <div
        class="mx-auto max-w-[40rem] prose-base prose text-gray-500 prose-h3:text-black prose-a:font-semibold prose-a:text-accent-300 hover:prose-a:text-black">
        <p>
          These Terms and Conditions ("Terms") apply to the TabTab application (hereinafter referred to as the "Application") for macOS devices, created by QI ZHI (hereinafter referred to as the "Service Provider") as a Freemium service.
        </p>
        <p>
          By downloading or using the Application, you are agreeing to be bound by these Terms. You are advised to read these Terms carefully before using the Application. Unauthorized reproduction, modification of the Application, any part of the Application, or the Service Provider's trademarks is strictly prohibited. You shall not attempt to extract the source code of the Application, translate the Application into other languages, or create derivative versions. All trademarks, copyrights, database rights, and other intellectual property rights related to the Application remain the exclusive property of the Service Provider.
        </p>
        <p>
          The Service Provider is committed to ensuring the Application is as useful and efficient as possible. As such, the Service Provider reserves the right to make changes to the Application or to charge for its services, at any time and for any reason. The Service Provider will notify you of any charges associated with the Application or its services.
        </p>
        <p>
          The Application does not collect or store any personal data. However, it is your responsibility to maintain the security of your device and access to the Application. The Service Provider strongly advises against tampering with your device's operating system, as it may result in security vulnerabilities, malware exposure, or cause the Application to malfunction.
        </p>
        <p>
          The Service Provider does not warrant that the Application will function at full capacity at all times. The Service Provider shall not be held liable for any lack of functionality due to issues beyond their control.
        </p>
        <p>
          The Service Provider's responsibility for your use of the Application is limited. While they strive to maintain the Application's accuracy and functionality, the Service Provider shall not be held liable for any direct or indirect losses you may experience as a result of relying entirely on the Application's functionality.
        </p>
        <p>
          The Service Provider may update the Application from time to time. The Application is currently available for macOS, and the system requirements may change. You will need to download updates if you wish to continue using the Application. The Service Provider does not guarantee that the Application will always be updated to be compatible with the version of macOS installed on your device. You agree to accept all updates to the Application when offered. The Service Provider may cease providing the Application and may terminate its use at any time without prior notice to you. Upon termination, (a) the rights and licenses granted to you in these Terms will end; (b) you must cease using the Application and delete it from your device.
        </p>
        <h3>Changes to These Terms and Conditions</h3>
        <p>
          The Service Provider may update these Terms from time to time. You are advised to review this page periodically for any changes. The Service Provider will notify you of any changes by posting the new Terms on this page.
        </p>
        <p>
          These Terms are effective as of 2024-10-12
        </p>
        <h3>Contact Us</h3>
        <p>
          If you have any questions or suggestions regarding these Terms, please contact the Service Provider at riccqi@pm.me.
        </p>
      </div>
    </div>
  </div>
</section>
