---
import BaseLayout from "../layouts/BaseLayout.astro";
import PricingComponent from "../components/landing/Pricing.astro";
import EmailSignup from "../components/landing/EmailSignup.astro";
import Faq from "../components/infopages/Faq.astro";
---
<BaseLayout>
  <div>
    <PricingComponent />
    <EmailSignup />
    <Faq />
  </div>
</BaseLayout>
