---
import BaseHead from "../components/BaseHead.astro";
import Navigation from "../components/global/Navigation.astro";
import Footer from "../components/global/Footer.astro";
---
<html
  lang="en"
  class="scroll-smooth selection:bg-accent-500 selection:text-white no-touchevents hydrated"
>
  <head>
    <BaseHead />
    <!-- Add these lines for the favicon -->
    <link rel="icon" type="image/x-icon" href="/favicon.svg">
    <!-- Optional: include additional sizes/formats -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  </head>
  <body class="bg-white flex flex-col min-h-svh">
    <Navigation/>
    <main class="grow"><slot /></main>
    <Footer/>
  </body>
</html>
