<footer class="bg-gradient-to-b from-white to-sky-100">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div class="grid grid-cols-2 lg:grid-cols-4 items-start gap-x-8 gap-y-24">
      <a
        href="/"
        class="xl:col-span-1 text-black flex flex-col items-start gap-2">
        <img src="/tabtab-full.png" alt="TabTab Icon" class="h-14">
      </a>
      <div
        class="md:grid md:grid-cols-2 xl:grid-cols-4 md:gap-8 text-sm text-gray-400 lg:col-span-3">
        <div>
          <h3 class="text-lg text-black font-medium tracking-tight">Support</h3>
          <ul
            role="list"
            class="mt-4 space-y-1">
            <li>
              <a
                href="https://app.lemonsqueezy.com/my-orders/login"
                class="hover:text-black">
                Manage license
              </a>
            </li>
            <li>
              <a
                href="/press/"
                class="hover:text-black flex items-center gap-2">
                Press Kit
              </a>
            </li>
            <li>
              <a
                href="mailto:riccqi@pm.me"
                class="hover:text-black flex items-center gap-2">
                <svg class="w-4 h-4" viewBox="0 0 117.822 84.2285" fill="currentColor">
                  <path d="M58.8867 47.5586C60.498 47.5586 62.0605 46.9238 63.5742 45.5566L112.354 2.58789C109.717 0.830078 106.689 0.0488281 102.49 0.0488281L15.332 0.0488281C11.1328 0.0488281 8.10547 0.830078 5.41992 2.58789L54.1992 45.5566C55.7617 46.9238 57.3242 47.5586 58.8867 47.5586ZM1.26953 76.3184L37.4023 40.2344L1.17188 8.30078C0.634766 9.32617 0 11.8164 0 15.1855L0 69.0918C0 72.2168 0.488281 74.4629 1.26953 76.3184ZM13.8672 84.2285L103.955 84.2285C107.52 84.2285 110.303 83.3496 112.158 82.0801L75 44.9219L67.8711 51.2695C65.0391 53.7598 61.9629 55.0293 58.8867 55.0293C55.8594 55.0293 52.7832 53.7598 49.9512 51.2695L42.8223 44.9219L5.66406 82.0801C7.51953 83.3496 10.2539 84.2285 13.8672 84.2285ZM116.553 76.3184C117.285 74.4629 117.822 72.2168 117.822 69.0918L117.822 15.1855C117.822 11.8164 117.188 9.32617 116.65 8.30078L80.4199 40.2344Z"/>
                </svg>
                Email
              </a>
            </li>
            <li>
              <a
                href="https://discord.gg/8BK2G5UFkS"
                class="hover:text-black flex items-center gap-2">
                <svg class="w-4 h-4" viewBox="0 0 24 24" fill="currentColor">
                  <path d="M20.317 4.3698a19.7913 19.7913 0 00-4.8851-1.5152.0741.0741 0 00-.0785.0371c-.211.3753-.4447.8648-.6083 1.2495-1.8447-.2762-3.68-.2762-5.4868 0-.1636-.3933-.4058-.8742-.6177-1.2495a.077.077 0 00-.0785-.037 19.7363 19.7363 0 00-4.8852 1.515.0699.0699 0 00-.0321.0277C.5334 9.0458-.319 13.5799.0992 18.0578a.0824.0824 0 00.0312.0561c2.0528 1.5076 4.0413 2.4228 5.9929 3.0294a.0777.0777 0 00.0842-.0276c.4616-.6304.8731-1.2952 1.226-1.9942a.076.076 0 00-.0416-.1057c-.6528-.2476-1.2743-.5495-1.8722-.8923a.077.077 0 01-.0076-.1277c.1258-.0943.2517-.1923.3718-.2914a.0743.0743 0 01.0776-.0105c3.9278 1.7933 8.18 1.7933 12.0614 0a.0739.0739 0 01.0785.0095c.1202.099.246.1981.3728.2924a.077.077 0 01-.0066.1276 12.2986 12.2986 0 01-1.873.8914.0766.0766 0 00-.0407.1067c.3604.698.7719 1.3628 1.225 1.9932a.076.076 0 00.0842.0286c1.961-.6067 3.9495-1.5219 6.0023-3.0294a.077.077 0 00.0313-.0552c.5004-5.177-.8382-9.6739-3.5485-13.6604a.061.061 0 00-.0312-.0286zM8.02 15.3312c-1.1825 0-2.1569-1.0857-2.1569-2.419 0-1.3332.9555-2.4189 2.157-2.4189 1.2108 0 2.1757 1.0952 2.1568 2.419-.019 1.3332-.9555 2.4189-2.1569 2.4189zm7.9748 0c-1.1825 0-2.1569-1.0857-2.1569-2.419 0-1.3332.9554-2.4189 2.1569-2.4189 1.2108 0 2.1757 1.0952 2.1568 2.419 0 1.3332-.9554 2.4189-2.1569 2.4189Z"/>
                </svg>
                Discord Community
              </a>
            </li>
            <li>
              <a
                href="https://x.com/riccqi"
                class="hover:text-black flex items-center gap-2">
                <svg class="w-4 h-4" viewBox="0 0 24 24" fill="currentColor">
                  <path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/>
                </svg>
                @riccqi
              </a>
            </li>
          </ul>
        </div>
        <div class="mt-12 md:mt-0">
          <h3 class="text-lg text-black font-medium tracking-tight">
            Legal
          </h3>
          <ul
            role="list"
            class="mt-4 space-y-1">
            <li>
              <a
                href="/terms/"
                class="hover:text-black">
                Terms
              </a>
            </li>
            <li>
              <a
                href="/privacy/"
                class="hover:text-black">
                Privacy
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-6">
    <div class="border-t pt-6 border-gray-200">
      <div class="flex justify-between items-center">
        <p class="text-sm text-neutral-600">
          © 2024-2025 TabTab. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
