<footer>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div class="grid grid-cols-2 lg:grid-cols-4 items-start gap-x-8 gap-y-24">
      <a
        href="/"
        class="xl:col-span-1 text-black inline-flex items-center gap-3">
        <img alt="tabtab icon" class="h-8" src="/tabtab-full.svg" />
      </a>
      <div
        class="md:grid md:grid-cols-2 xl:grid-cols-4 md:gap-8 text-sm text-gray-400 lg:col-span-3">
        <div>
          <h3 class="text-lg text-black font-medium tracking-tight">
            All pages
          </h3>
          <ul
            role="list"
            class="mt-4 space-y-1">
            <li>
              <a
                href="/"
                class="hover:text-black">
                Home
              </a>
            </li>
            <li>
              <a
                href="/faq"
                class="hover:text-black">
                FAQ
              </a>
            </li>
            <li>
              <a
                href="/terms"
                class="hover:text-black">
                Terms
              </a>
            </li>
            <li>
              <a
                href="/privacy"
                class="hover:text-black">
                Privacy
              </a>
            </li>
            <!-- <li>
              <a
                href="/signup"
                class="hover:text-black">
                Sign up
              </a>
            </li>
            <li>
              <a
                href="/signup"
                class="hover:text-black">
                Sign In
              </a>
            </li> -->
          </ul>
        </div>
        <div class="mt-12 md:mt-0">
          <h3 class="text-lg text-black font-medium tracking-tight">
            Resources
          </h3>
          <ul
            role="list"
            class="mt-4 space-y-1">
            <li>
              <a
                href="https://github.com/michael-andreuzza/astrosaas"
                class="hover:text-black">
                GitHub repo
              </a>
            </li>
          </ul>
        </div>

        <!-- <div>
          <h3 class="text-lg text-black font-medium tracking-tight">
            More themes
          </h3>
          <ul
            role="list"
            class="mt-4 space-y-1">
            <li>
              <a
                href="https://lexingtonthemes.com/"
                class="hover:text-black">
                Lexington Themes
              </a>
            </li>
          </ul>
        </div> -->
        <div class="mt-12 md:mt-0">
          <h3 class="text-lg text-black font-medium tracking-tight">Socials</h3>
          <ul
            role="list"
            class="mt-4 space-y-1">
            <li>
              <a
                href="https://x.com/riccqi"
                class="hover:text-black">
                @riccqi
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="bg-white">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-6">
    <div class="border-t pt-6 border-gray-200">
      <p class="text-sm text-neutral-600 lg:col-span-2">
        © 2024 Richard Qi. All rights reserved. Made in Singapore 🇸🇬
      </p>
    </div>
  </div>
</footer>
