<section class="bg-white/30 backdrop-blur-md border border-sky-200 rounded-2xl shadow-lg mx-4 md:mx-8 lg:mx-16 sticky top-4 z-50">
  <div class="px-8 md:px-12 lg:px-16">
    <div
      x-data="{ open: false }"
      class="relative w-full py-1.5 mx-auto md:px-6 flex flex-col md:grid md:grid-cols-3 md:items-center">
      <div class="flex flex-row items-center justify-between lg:justify-start">
        <div class="relative w-24 h-10 md:w-36 md:h-16">
          <img src="/tabtab-full.png" alt="TabTab" class="w-full h-full object-contain" />
          <a href="/" class="absolute inset-0">
            <span class="sr-only">Home</span>
          </a>
        </div>
        <button
          @click="open = !open"
          class="inline-flex items-center justify-center p-2 text-gray-400 hover:text-black focus:outline-none focus:text-black md:hidden">
          <svg
            class="w-6 h-6"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24">
            <path
              :class="{'hidden': open, 'inline-flex': !open }"
              class="inline-flex"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
            <path
              :class="{'hidden': !open, 'inline-flex': open }"
              class="hidden"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <nav
        :class="{'flex': open, 'hidden': !open}"
        class="flex-col items-center hidden md:pb-0 md:flex md:flex-row md:justify-center md:col-start-2 md:col-end-3">
        <!-- Center section -->
        <div class="flex flex-col items-center md:flex-row md:items-center space-y-2 md:space-y-0">
          <a
            class="px-2 lg:px-6 py-2 md:px-3 text-sm font-bold text-black hover:text-accent-400"
            href="/#features">Features</a
          >
          <a
            class="px-2 lg:px-6 py-2 md:px-3 text-sm font-bold text-black hover:text-accent-400"
            href="/pricing/">Buy License</a
          >
          <a
            class="px-2 lg:px-6 py-2 md:px-3 text-sm font-bold text-black hover:text-accent-400"
            href="/#faq">
            FAQ
          </a>
          <a
            class="px-2 lg:px-6 py-2 md:px-3 text-sm font-bold text-black hover:text-accent-400"
            href="/press/">
            Press Kit
          </a>
        </div>
      </nav>
      <!-- Download section (right aligned on desktop) -->
      <div class="hidden md:flex items-center md:justify-self-end md:col-start-3">
        <a
          class="items-center justify-center h-12 font-bold text-xs sm:text-sm md:text-base rounded-2xl focus-visible:outline-black focus:outline-none inline-flex bg-black border-2 border-black duration-200 focus-visible:ring-black hover:bg-transparent hover:border-black hover:text-black pl-3 pr-4 sm:pl-4 sm:pr-4 md:pl-6 md:pr-6 md:py-4 text-center text-white"
          href="https://github.com/riccqi/TabTabApp/releases/download/prod/tabtab.dmg"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="w-4 h-4 sm:w-5 sm:h-5 md:w-6 md:h-6 mr-2"
            fill="currentColor"
            aria-label="Apple Logo"
          >
            <path d="M19.37 7.648c-.114.088-2.11 1.213-2.11 3.715 0 2.894 2.54 3.918 2.616 3.944-.011.062-.403 1.402-1.34 2.767-.834 1.201-1.706 2.4-3.032 2.4s-1.667-.77-3.198-.77c-1.492 0-2.022.796-3.235.796-1.214 0-2.06-1.112-3.033-2.477C4.911 16.42 4 13.93 4 11.566c0-3.791 2.465-5.802 4.891-5.802 1.29 0 2.364.847 3.173.847.77 0 1.972-.897 3.438-.897.556 0 2.553.05 3.867 1.934Zm-4.564-3.54c.607-.719 1.036-1.718 1.036-2.716 0-.138-.012-.279-.037-.392-.987.037-2.161.657-2.87 1.478-.555.632-1.074 1.63-1.074 2.643 0 .152.026.304.037.353.063.011.164.025.266.025.885 0 1.998-.593 2.642-1.39Z"></path>
          </svg>
          Download
        </a>
      </div>
    </div>
  </div>
</section>
